.nav-item {
    display: inline-block;
    height: 18px;
    background-color:white;
    color: #495E57;
    }

    .nav-item:hover {
    background-color:  #495E57;
    border-radius: 1rem;
    padding: 0.75em;
    color: white;
    overflow: hidden;

    }